* {
    color: blue;
}

/* весь текст */

p {
    color: brown;
}

/* для однакових елементів */


.text-color {
    color: purple;
}

/*для class */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}

#mytext {
    text-indent: 50px;
    /* background-color: rgba(0, 0, 0, .5); */
    color: #000;
    /*rgba(red, green, blue, alpha)*/
    /*rgb(red, green, blue) black;*/
    font-size: 20px;
    /* 2em - в два раза більше чим початкова */
    font-weight: normal;
    font-style: italic;
    text-align: justify;
    text-align-last: center;
    line-height: 1.5;
    /* між рядковий інтервал */
    text-decoration: underline green wavy;

    text-transform: capitalize;
    text-transform: uppercase;

    background-color: bisque;
    padding: 20px 50px 100px 40px;
    /* margin: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 50px;*/
    /* border: solid 10px green;
    border-top: dashed 20px black;
    border-bottom: dotted 30px yellow;
    border-left: double 20px blue; */

    border: solid 20px;
    /* border-style: inset solid dashed double; */

    /* border: solid 20px;
    border-style: none double; */

    /* box-shadow:5px -5px 30px #000;
    text-shadow:2px 2px 10px green;

    font-family:Arial, Helvetica, sans-serif;
    
    font-family: "Dancing Script", cursive;
    /*google fonts*/
    /* width: 50px;
    height: 50px; */

}

/* для id */
span {
    vertical-align: super;
}