.main{
    width: 500px;
    height: 700px;
    background-color: red;
    position: relative;
}
.bloc1{
    background-color: orange;
    width: 100px;
    height: 670px;
    border: solid;
    position: absolute;
    left: 2%;
    bottom: 2%;
    z-index: 1;
}
.bloc2{
    background-color: yellow;
    width: 350px;
    height: 670px;
    border: solid;
    position: absolute;
    left: 26%;
    bottom: 2%;
}
.green1,
.green2,
.green3
{
    background-color: green;
    width: 100px;
    height: 200px;
    justify-content: ;
}