*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    transform: 0.3s;
}

a:hover {
    color: rgb(21, 18, 206);
    transform: scale(1.1);
}

.head{
    height: 150px;
    background-color: #eae7e8;
    position: relative;
}

.container {
    padding: 0 250px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    gap: 10px;
    
    background-color: #eeebec;
}

nav {
    display: flex;
    align-items: center;
    gap: 50px;
}
nav a{
    color: rgb(161 147 147);;
}
.a-color{
    color: rgb(192 70 107);;
}

.logo img {
    height: 50%;
    object-fit: contain;
    display: flex;
    margin-top: 15px;
}
.about-1 {
    height: 70px;
    background-color: #c8c10d;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: 200;
    color: #fff;
}
.container .div-logo{
    float: left;
    margin-top: 100px;
    margin-right: 20px;
}
.container .div-logo-2{
    float: left;
    margin-top: 30px;
    margin-right: 20px;
}
.div-1{
    background-color: #efedee;
    width: 250px;
    height: 700px;
    float: right;
    margin: 50px 0px;
}
.div-text h2{
    padding-top: 150px;
    color: #cc3366;
}
.div-text h4{
    padding-top: 10px;
    padding-bottom: 40px;
    color: #ada0a0;
}
.div-text p{
    color: #ada0a0;
    padding-bottom: 40px;
}
.div-text-2 h2{
    padding-top: 80px;
    color: #cc3366;
}
.div-text h4{
    padding-top: 10px;
    padding-bottom: 40px;
    color: #ada0a0;
}
.div-text p{
    color: #ada0a0;
    padding-bottom: 40px;
}
.more{
    background-color: #c8c10d;
    width: 200px;
    height: 40px;


}
.more a{
    font-size: 20px;
    display: flex;
    padding-top: 10px;
    padding-left: 40px;
    color: #fff;
}
.more-2{
    background-color: #cb3362;
    width: 200px;
    height: 40px;
    margin: 40px;
    margin-left: 17%;
}
.more-2 a{
    font-size: 20px;
    display: flex;
    padding-left: 40px;
    padding-top: 10px;
    color: #fff;
}
hr{
    width: 60%;
    margin: 10px;
}
.freeze {
    background-color: #cb3362;
    height: 130px;
    display: flex;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons a {
    width: 50px;
    height: 50px;
    background-color: #e91e63;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
}

.freeze-1 {
    background-color: #cb3362;
    height: 230px;
    position: relative;
}

.text-5 {
    position: absolute;
    top: 50%;
    right: 38%;
    font-size: 25px;
    color: #fff;
}
.div-1 h1,img{
    color: #cc3366;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.div-1 h2{
    color: #cc3366;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.div-1 p{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin: 20px;
    color: #ada0a0;
    text-align: center;
}
.more-1{
    background-color: #c8c10d;
    width: 200px;
    height: 40px;


}
.more-1 a{
    font-size: 20px;
    display: flex;
    padding-top: 10px;
    padding-left: 40px;
    color: #fff;
}
@font-face{
    font-family: 'MargaBold';
    src: url('../fonts/quicksand-bold-webfont.ttf');
}
h2{
    font-family: 'MargaBold';
}
