ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
a{
    display: inline-block;
    width: 300px;
    background-color: rgb(3, 5, 5);
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: aqua;
    box-shadow:inset 0px 0px 10px aqua;
}